<h2 mat-dialog-title>Listado De Proveedores</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography mt-3">
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="filtrar($event)" placeholder="Buscar" />
  </mat-form-field>
  <div class="contenedor-tabla">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Weight Column -->
      <ng-container matColumnDef="identificacion">
        <th mat-header-cell *matHeaderCellDef>Identificación</th>
        <td mat-cell *matCellDef="let element">{{ element.documento }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nombres + " " + element.apellidos }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="contacto">
        <th mat-header-cell *matHeaderCellDef>Contacto</th>
        <td mat-cell *matCellDef="let element">{{ element.contacto }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="seleccion">
        <th mat-header-cell *matHeaderCellDef>Seleccionar</th>
        <td mat-cell *matCellDef="let element">
          <button
            class="btn btn-outline-primary"
            (click)="seleccionar(element)"
          >
            <i class="bi bi-check-all"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cerrarFormulario()">Cancelar</button>
</mat-dialog-actions>
