<div class="container-fluid contenedor mt-5">
  <div class="card administrativa">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2 class="m-0">Formulario de Clientes</h2>
      <button
      type="button" class="btn btn-secondary"
        mat-icon-button
        (click)="listarClientes()"
        data-bs-toggle="tooltip" data-bs-placement="top" 
        title="Listar Clientes"
      >
        <i class="bi bi-eye"></i>
      </button>
    </div>

    <div class="card-body">
      <form
        class="row g-3 needs-validation align-items-end"
        novalidate
        [formGroup]="formCliente"
      >
      <div class="col-md-2">
            <label for="tipo_documento" class="form-label">Tipo Documento</label>
            <select class="form-select form-select-sm" aria-label="Default select example" formControlName="tipo_documento">
                <option selected disabled>Seleccionar</option>
                <option value="CC">Cedula Ciudadania</option>
                <option value="CE">Cedula Extranjeria</option>
                <option value="PA">Pasaporte</option>
            </select>
        </div>

        <div class="col-md-2">
          <label for="documento" class="form-label">Documento</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="documento"
            formControlName="documento"
          />
        </div>

        <div class="col-md-4">
          <label for="Nombre" class="form-label">Nombre del cliente</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="Nombre"
            formControlName="nombre"
          />
        </div>

        <div class="col-md-4">
          <label for="apellidos" class="form-label">Apellidos</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="apellidos"
            formControlName="apellidos"
          />
        </div>

        <div class="col-md-4">
          <label for="correo" class="form-label">Correo</label>
          <input
            type="email"
            class="form-control form-control-sm"
            id="correo"
            formControlName="correo"
          />
        </div>

        <div class="col-md-4">
          <label for="contacto" class="form-label">contacto</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="contacto"
            formControlName="contacto"
          />
        </div>

        <div class="col-md-4">
          <label for="direccion" class="form-label">Dirección</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="direccion"
            formControlName="direccion"
          />
        </div>

        <!-- <div class="col-md-2" *ngIf="estadoBtn.btnActualizar">
          <input
            type="checkbox"
            class="form-check-input"
            id="exampleCheck1"
            formControlName="estado"
          />
          <label class="form-check-label" for="exampleCheck1">Activo</label>
        </div> -->
      </form>
    </div>
  </div>

  <div class="contenedor-tabla card mt-3" *ngIf="dataSource.data.length > 0">
    <table mat-table [dataSource]="dataSource" >
        
        <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef>Nombre Cliente</th>
            <td mat-cell *matCellDef="let element">{{ element.nombres + element.apellidos}}</td>
        </ng-container>

        <ng-container matColumnDef="correo">
            <th mat-header-cell *matHeaderCellDef>Correo Electrónico</th>
            <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
        </ng-container>
        
        <ng-container matColumnDef="contacto">
            <th mat-header-cell *matHeaderCellDef>Contacto</th>
            <td mat-cell *matCellDef="let element">{{ element.contacto }}</td>
        </ng-container>

  
        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef>Dirección</th>
            <td mat-cell *matCellDef="let element">{{ element.direccion }}</td>
        </ng-container>
    
        <ng-container matColumnDef="seleccionar">
          <th mat-header-cell *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="seleccionarClientes(element)">
                <i class="bi bi-pen"></i>
            </button>
            <button mat-icon-button color="warn" >
                <i class="bi bi-trash"></i>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [length]="dataSource.data.length" [pageSize]="3" [pageSizeOptions]="[3]" hidePageSize></mat-paginator>
  </div>
  <div class="row py-3">
    <div class="col col-md-2">
      <button
        *ngIf="estadoBtn.btnGuardar"
        class="btn btn-warning w-100"
        type="button"
        (click)="crearClientes()"
      >
      <i class="bi bi-hdd-stack"></i> Guardar
      </button>
      <button
        *ngIf="estadoBtn.btnActualizar"
        class="btn btn-warning w-100"
        type="button"
        (click)="actualizarClientes()"
      >
      <i class="bi bi-arrow-clockwise"></i> Actualizar
      </button>
    </div>
    <div class="col col-md-2">
      <button
        *ngIf="estadoBtn.btnCancelar"
        class="btn btn-secondary w-100"
        type="button"
        (click)="cancelar()"
      >
      <i class="bi bi-x"></i> Cancelar
      </button>
    </div>
  </div>
</div>
