<h2 mat-dialog-title>Listado De Articulos</h2>
<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography mt-3">
  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="filtrar($event)" placeholder="Buscar" />
  </mat-form-field>

  <div class="contenedor-tabla" *ngIf="dataSource.data.length > 0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre Articulo</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="concepto">
        <th mat-header-cell *matHeaderCellDef>Concepto Articulo</th>
        <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
      </ng-container>

      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>Marca Articulo</th>
        <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
      </ng-container>

      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef>Precio Costo</th>
        <td mat-cell *matCellDef="let element">{{ element.precio_costo }}</td>
      </ng-container>

      <ng-container matColumnDef="seleccion">
        <th mat-header-cell *matHeaderCellDef>Seleccionar</th>
        <td mat-cell *matCellDef="let element">
          <button
            class="btn btn-outline-primary"
            (click)="seleccionar(element)"
          >
            <i class="bi bi-check-all"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSize]="4"
      [pageSizeOptions]="[3]"
      hidePageSize
    ></mat-paginator>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cerrarFormulario()">Cancelar</button>
</mat-dialog-actions>
