header {
    min-height: 100vh;
  background: linear-gradient(
      to right,
      hsla(168, 37%, 55%, 0.9),
      rgba(38, 76, 93, 0.8)
    ),
    url("../../../assets/images/bg-hero.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  .wave {
    width: 100%;
    height: 200px;
    background: url("../../../assets/images/wave.svg") no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 768px) {

    header .wave {
      background-position: center bottom;
      background-size: contain;
    }
  }