<header>
    <app-navegation></app-navegation>
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-6">
                <div class="contenido-hero text-white">
                    <h1>Sistema De Gestión Para Administrar tu PYMES Farmaceutica.</h1>
                    <h4>
                        Esta plataforma te proporcionará efectividad y eficiencia en el manejo del flujo y 
                        procesamiento de los grandes volúmenes de información que se requieren este tipo de procesos, 
                        ejecutando las actividades con el menor esfuerzo humano y en el menor tiempo posible.
                    </h4>
                    <a class="btn btn-warning">
                        Contactanos
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 img-hero">
                <img src="../../../assets/images/img-hero.svg" alt/>
            </div>
        </div>
    </div>
    <div class="wave"></div>
</header>