<div class="container-fluid contenedor mt-5">
    <div class="card administrativa">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="m-0">Formulario de Productos</h2>
        <button
        type="button" class="btn btn-secondary"
          mat-icon-button
          (click)="listarProducto()"
          data-bs-toggle="tooltip" data-bs-placement="top" 
          title="Listar Productos"
        >
          <i class="bi bi-eye"></i>
        </button>
      </div>
  
      <div class="card-body">
        <form
          class="row g-3 needs-validation align-items-end"
          novalidate
          [formGroup]="formArticulos"
        >
  
          <div class="col-md-4">
            <label for="Nombre" class="form-label">Nombre del producto</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="Nombre"
              formControlName="nombre"
            />
          </div>
  
          <div class="col-md-4">
            <label for="marca" class="form-label">Marca</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="marca"
              formControlName="marca"
            />
          </div>
  
          <div class="col-md-4">
            <label for="codigo" class="form-label">Codigo</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="codigo"
              formControlName="codigo"
            />
          </div>
  
          <div class="col-md-4">
            <label for="descripcion" class="form-label">Descripción</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="descripcion"
              formControlName="descripcion"
            />
          </div>
  
          <div class="col-md-4">
            <label for="precio_costo" class="form-label">Precio Costo</label>
            <input
              type="number"
              min="0"
              class="form-control form-control-sm"
              id="precio_costo"
              formControlName="precio_costo"
            />
          </div>

          <div class="col-md-4">
            <label for="iva" class="form-label">Valor Agregado</label>
            <input
              type="number"
              min="0"
              class="form-control form-control-sm"
              id="iva"
              formControlName="iva"
            />
          </div>
  
          <!-- <div class="col-md-2" *ngIf="estadoBtn.btnActualizar">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
              formControlName="estado"
            />
            <label class="form-check-label" for="exampleCheck1">Activo</label>
          </div> -->
        </form>
      </div>
    </div>
  
    <div class="contenedor-tabla card mt-3" *ngIf="dataSource.data.length > 0">
      <table mat-table [dataSource]="dataSource" >
          
          <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef>Codígo</th>
              <td mat-cell *matCellDef="let element">{{ element.codigo}}</td>
          </ng-container>
  
          <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>
          
          <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>Descripción</th>
              <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
          </ng-container>
  
    
          <ng-container matColumnDef="precio_costo">
              <th mat-header-cell *matHeaderCellDef>Precio Costo</th>
              <td mat-cell *matCellDef="let element">{{ element.precio_costo | currency }}</td>
          </ng-container>
      
          <ng-container matColumnDef="seleccionar">
            <th mat-header-cell *matHeaderCellDef>Opciones</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex">
                <button mat-icon-button color="primary" (click)="seleccionarProducto(element)">
                    <i class="bi bi-pen"></i>
                </button>
                <button mat-icon-button color="warn" >
                    <i class="bi bi-trash"></i>
                </button>
              </div>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [length]="dataSource.data.length" [pageSize]="3" [pageSizeOptions]="[3]" hidePageSize></mat-paginator>
    </div>
    <div class="row py-3">
      <div class="col col-md-2">
        <button
          *ngIf="estadoBtn.btnGuardar"
          class="btn btn-warning w-100"
          type="button"
          (click)="crearProducto()"
        >
        <i class="bi bi-hdd-stack"></i> Guardar
        </button>
        <button
          *ngIf="estadoBtn.btnActualizar"
          class="btn btn-warning w-100"
          type="button"
          (click)="actualizarProducto()"
        >
        <i class="bi bi-arrow-clockwise"></i> Actualizar
        </button>
      </div>
      <div class="col col-md-2">
        <button
          *ngIf="estadoBtn.btnCancelar"
          class="btn btn-secondary w-100"
          type="button"
          (click)="cancelar()"
        >
        <i class="bi bi-x"></i> Cancelar
        </button>
      </div>
    </div>
  </div>
  
