.contenedor {
    min-height: 85vh;
    background: #fff url(../../../../../assets/images/img-productos.svg) no-repeat;
    background-size: 40%;
    background-position: center right;
    .card, .contenedor-tabla{
      width: 65%;
    }
  }
  
  @media (max-width: 768px) {
     .contenedor .card{
          width: 100%;
      }
    }