.lds-ellipsis {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 3000;
    background: rgba(255, 255, 255, 0.575);
    p{
      color: #373737;
      margin-top: 50px;
      font-weight: 500;
    }
  }
  .box-contenedora{
    width: 100px;
    height: 100px;
    position: fixed;
  }
  .lds-ellipsis .box {
    position: absolute;
    top: 33px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #373737;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    box-shadow: var(--shadow-element);
  }
  .lds-ellipsis .box:nth-child(1) {
      
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis .box:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis .box:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis .box:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  @media (max-width: 768px) {
    .lds-ellipsis {
      background: transparent;
    }
  }