<app-navegation></app-navegation>
<div class="container">
  <hr class="dropdown-divider">
</div>
<div class="container my-5 autenticacion">
    <div class="row justify-content-end align-items-center">
      <div class="col-lg-4">
        <div class="card shadow">
          <div class="card-body">
            <h3 class="text-center">Registrarse</h3>
            <hr />
            <form [formGroup]="formRegister" class="px-3">
                <div class="form-group mb-3">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="bi bi-person"></i>
                        </span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Nombre Completo"
                        formControlName="name"
                      />
                    </div>
                </div>
              <div class="form-group mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="bi bi-envelope"></i>
                    </span>
                  </div>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Correo Electrónico"
                    formControlName="email"
                  />
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="bi bi-key"></i>
                    </span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Contraseña"
                    formControlName="password"
                  />
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="bi bi-key"></i>
                    </span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Confirmar Contraseña"
                    formControlName="password_confirmation"
                  />
                </div>
              </div>
              <button class="btn btn-warning w-100" (click)="registrarUsuario()">Enviar Información</button>
  
            </form>
          </div>
          <a class="btn w-100 text-secondary m-1" (click)="_router.navigate(['/login'])">Ya tienes una cuenta?</a>
        </div>
      </div>
    </div>
  </div>