<app-header></app-header>
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../../../assets/images/Inventory.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/Inventory2.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/images/Inventory.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="text-warning">Evoluciona tu gestión de inventario</h2>
                    <hr>
                    <p>
                        Se pudo observar que aquellos pequeños establecimientos que no cuentan con una herramienta 
                        óptima para su gestión de inventario, normalmente generando pérdidas económicas y puntos 
                        negativos de atención al usuario, caso posible por robos hormiga de clientes y/o empleados 
                        o no detectar problemas de rotación en los productos.
                    </p>
                    <p>
                        Las tecnologías de información y comunicación ofrecen una gran oportunidad para el 
                        desarrollo y el avance de empresas, organizaciones y establecimientos comerciales, 
                        que traen múltiples aportes a los diversos sectores de la sociedad. Estas tecnologías 
                        permiten la interacción a distancia de actores, 
                        el procesamiento y almacenamiento de grandes cantidades de datos.
                    </p>
                </div>
        </div>
    </div>
</section>

<div class="container mt-5">
  <div class="row text-center">
    <h2 class="text-warning">
      Un Stock y una Rotación organizada con Inventory
    </h2>
    <hr />
  </div>
  <div class="row">
    <div class="col-lg-3 mb-3">
      <div class="card h-100">
        <img
          src="../../../assets/images/neurobion.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Neurobion</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Caja por 30 tabletas</li>
            <li class="list-group-item">Existencias: 10</li>
            <li class="list-group-item">lote: M8956</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3">
      <div class="card h-100">
        <img
          src="../../../assets/images/hidrolageno.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Hidrolageno</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Caja por 24 tabletas</li>
            <li class="list-group-item">Existencias: 5</li>
            <li class="list-group-item">lote: M8956</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3">
      <div class="card h-100">
        <img
          src="../../../assets/images/enterogermina.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Enterogermina</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Caja por 20 tabletas</li>
            <li class="list-group-item">Existencias: 4</li>
            <li class="list-group-item">lote: M8956</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3">
      <div class="card h-100">
        <img
          src="../../../assets/images/progress_gold_alula.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Progress Gold</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Caja por 30 tabletas</li>
            <li class="list-group-item">Existencias: 10</li>
            <li class="list-group-item">lote: M8956</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg-evoluciona mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-3">
        <img
          src="../../../assets/images/img-optimizar.svg"
          class="img-fluid"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <h2 class="text-warning">Variables Fundamentales en la Gestión de Inventario</h2>
        <hr />
        <p>
          Para muchos establecimientos farmacéuticos es de preocupación y
          necesidad, tener con claridad la relación de productos en el stock con
          el fin de cubrir las demandas de los clientes y saber que productos
          rotar dependiendo su fecha de caducidad. lo más acertado
          y fundamental es controlar la gestión del surtido y rotación.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="formContacto">
    <div class="container">
        <div id="contactanos" class="card shadow-sm">
            <div class="card-body">
                <div  class="row mb-3">
                    <div class="col-lg-12">
                        <h2 class="text-warning">Contactanos</h2>
                        <p>
                            Para mas información, si tienes dudas o preguntas sobre nuestros
                            servicios contactanos siempre tendremos el gusto de atenderte
                        </p>
                    </div>
                </div>
                <form>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label for="nombre">Nombres</label>
                            <input
                                type="text"
                                class="form-control"
                                id="nombre" />
                            
                        </div>
                        <div class="form-group col-md-6">
                            <label for="apellidos">Apellidos</label>
                            <input
                               
                                type="text"
                                class="form-control"
                                id="apellidos" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-md-6">
                            <label for="telefono">Teléfono</label>
                            <input
                                
                                type="tel"
                                class="form-control"
                                id="telefono" />
                           
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Correo</label>
                            <input type="email" class="form-control" id="email" />
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleFormControlTextarea1">Comentario:</label>
                        <textarea
                            
                            class="form-control"
                            id="exampleFormControlTextarea1"
                            rows="3"
                            placeholder="Escribir..."
                        ></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">
                        Enviar Información
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

