.bg-evoluciona {
    padding: 20px;
    background: linear-gradient(
        to right,
        hsla(168, 37%, 55%, 0.9),
        rgba(38, 76, 93, 0.8)
      );
      color: #fff;
      text-align: right;
}


.formContacto {
    margin-top: 150px;
    min-height: 80vh;
    background: linear-gradient(
            90deg,
            rgba(211, 211, 212, 0.2),
            rgba(211, 211, 212, 0.2)
        ),
        url(../../../assets/images/bg-formulario-contacto1.svg) no-repeat;
    background-size: cover;
    background-position: right bottom;
    .card {
        position: relative;
        top: -100px;
    }
}