<div class="container-fluid contenedor mt-5">
    <div class="card administrativa">
      <div class="card-header">
        <h2 class="m-0">Formulario Factura de Ventas</h2>
      </div>
  
      <div class="card-body">
        <form
          class="row g-3 needs-validation align-items-end"
          novalidate
          [formGroup]="formFacturaVenta"
        >
          <div class="col-md-2">
            <label for="fecha_emision" class="form-label">Fecha Emisión</label>
            <input
              type="date"
              class="form-control form-control-sm"
              id="fecha_emision"
              formControlName="fecha_emision"
            />
          </div>
  
          <div class="col-md-4">
            <label for="cliente" class="form-label">Nombre del cliente</label>
            <input
              type="text"
              readonly
              class="form-control form-control-sm"
              placeholder="Buscar cliente"
              id="cliente"
              formControlName="cliente"
              (click)="abrirModalClientes()"
            />
          </div>
  
          <div class="col-md-2">
            <label for="valor_total_iva" class="form-label"
              >Valor Total IVA</label
            >
            <input
              type="text"
              readonly
              class="form-control form-control-sm"
              id="valor_total_iva"
              formControlName="valor_total_iva"
            />
          </div>
  
          <div class="col-md-2">
            <label for="valor_total_descuento" class="form-label"
              >Valor Total Desc.</label
            >
            <input
              type="text"
              readonly
              class="form-control form-control-sm"
              id="valor_total_descuento"
              formControlName="valor_total_descuento"
            />
          </div>
  
          <div class="col-md-2">
            <label for="valor_total" class="form-label">Valor Total</label>
            <input
              type="text"
              readonly
              class="form-control form-control-sm"
              id="valor_total"
              formControlName="valor_total"
            />
          </div>
  
          <!-- <div class="col-md-2" *ngIf="estadoBtn.btnActualizar">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
                formControlName="estado"
              />
              <label class="form-check-label" for="exampleCheck1">Activo</label>
            </div> -->
        </form>
      </div>
    </div>
  
    <div class="card mt-3">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="m-0">Agregar Productos</h2>
        <button
          type="button"
          class="btn btn-secondary"
          mat-icon-button
          (click)="agregarDetalle()"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Agregar producto"
        >
          <i class="bi bi-file-earmark-plus"></i>
        </button>
      </div>
  
      <div class="card-body">
        <form
          class="row g-3 needs-validation align-items-end"
          novalidate
          [formGroup]="formFacturaDetalle"
        >
          <div class="col-md-2">
            <label for="articulo" class="form-label">Articulo</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="articulo"
              formControlName="articulo"
              (click)="abrirModalArticulos()"
            />
          </div>
  
          <div class="col-md-3">
            <label for="concepto_articulo" class="form-label">Descripción</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="concepto_articulo"
              formControlName="concepto_articulo"
            />
          </div>
  
          <div class="col-md-1">
            <label for="contidad" class="form-label">Cantidad</label>
            <input
              type="number"
              class="form-control form-control-sm"
              id="contidad"
              formControlName="contidad"
            />
          </div>
  
          <div class="col-md-2">
            <label for="precio_unitario" class="form-label"
              >Precio Unitario</label
            >
            <input
              type="number"
              class="form-control form-control-sm"
              id="precio_unitario"
              formControlName="precio_unitario"
            />
          </div>
  
          <div class="col-md-2">
            <label for="iva" class="form-label">IVA</label>
            <input
              type="number"
              class="form-control form-control-sm"
              id="iva"
              formControlName="iva"
            />
          </div>
  
          <div class="col-md-2">
            <label for="descuento" class="form-label">Desc.</label>
            <input
              type="number"
              class="form-control form-control-sm"
              id="descuento"
              formControlName="descuento"
            />
          </div>
        </form>
      </div>
    </div>
  
    <div class="contenedor-tabla card mt-3" *ngIf="dataSource.data.length > 0">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>Codigo</th>
          <td mat-cell *matCellDef="let element">{{ element.articulo_id }}</td>
        </ng-container>
  
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let element">
            {{ element.concepto_articulo }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef>Cantidad</th>
          <td mat-cell *matCellDef="let element">{{ element.contidad }}</td>
        </ng-container>
  
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef>Precio por Unidad</th>
          <td mat-cell *matCellDef="let element">
            {{ element.precio_unitario }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="iva">
          <th mat-header-cell *matHeaderCellDef>IVA</th>
          <td mat-cell *matCellDef="let element">{{ element.iva }}</td>
        </ng-container>
  
        <ng-container matColumnDef="descuento">
          <th mat-header-cell *matHeaderCellDef>Descuento</th>
          <td mat-cell *matCellDef="let element">{{ element.descuento }}</td>
        </ng-container>
  
        <ng-container matColumnDef="subtotal">
          <th mat-header-cell *matHeaderCellDef>Subtotal</th>
          <td mat-cell *matCellDef="let element">{{ element.sub_total }}</td>
        </ng-container>
  
        <ng-container matColumnDef="seleccionar">
          <th mat-header-cell *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              color="warn"
              (click)="eliminarDetalle(element.id)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [length]="dataSource.data.length"
        [pageSize]="3"
        [pageSizeOptions]="[3]"
        hidePageSize
      ></mat-paginator>
    </div>
    <div class="row py-3">
      <div class="col col-md-2">
        <button
          class="btn btn-warning w-100"
          type="button"
          (click)="crearFacturaCompras()"
        >
          <i class="bi bi-hdd-stack"></i> Guardar
        </button>
      </div>
      <div class="col col-md-2">
        <button
          class="btn btn-secondary w-100"
          type="button"
          (click)="cancelar()"
        >
          <i class="bi bi-x"></i> Cancelar
        </button>
      </div>
    </div>
  </div>
  
