<nav class="navbar navbar-expand-lg navbar-light bg-light pt-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <h1 class="m-0"><i class="bi bi-shop"></i> Inventory</h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Archivo
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" routerLink="archivo/clientes">Clientes</a></li>
              <li><a class="dropdown-item" routerLink="archivo/proveedores">Proveedores</a></li>
              <li><a class="dropdown-item" routerLink="archivo/articulos">Articulos</a></li>
            </ul>
          </div>
        </li> 
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Movimientos
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" routerLink="movimientos/factura-ventas">Factura de Ventas</a></li>
              <li><a class="dropdown-item" routerLink="movimientos/factura-compras">Factura de Compras</a></li>
            </ul>
          </div>
        </li> 
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Consultas
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" routerLink="consultas/fact-ventas-fecha">Fatc. Ventas por fecha</a></li>
            </ul>
          </div>
        </li> 
      
      </ul>
      <button type="button" class="btn btn-secondary" (click)="cerrarSesion()">
        Cerrar Sesion
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
