<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <a class="navbar-brand text-warning" routerLink="/"
      ><h1 class="m-0"><i class="bi bi-shop"></i> Inventory</h1></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn btn-warning" routerLink="/login"
            ><i class="bi bi-person-circle"></i> Iniciar Sesión</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
