/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 16px; }

.container-fluid.contenedor{
  animation: fadeInLeft;
  animation-duration: 1s;
}

.contenedor-tabla {
    width: 100%;
    animation: fadeInUp;
    animation-duration: 1s;
    &::-webkit-scrollbar {
      height: 9px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #999;
    }
    table.mat-table {
      width: 100%;
      tr.mat-row,
      tr.mat-footer-row {
        height: 0;
      }
    }
  }

  @media (max-width: 768px) {
      
    .contenedor-tabla {
      width: 100% !important;
      overflow-x: scroll ;
      table.mat-table {
        width: 600px;
        mat-paginator{
          width: inherit;
        }
      }
    } 
  }