<footer class="bg-footer text-white">
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125335.26163296038!2d-74.88805881281787!3d10.983972467400418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d44d12ae605%3A0x2633844581b917b2!2sBarranquilla%2C%20Atl%C3%A1ntico!5e0!3m2!1ses!2sco!4v1619993625408!5m2!1ses!2sco"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
            <a class="text-warning">
                <h2>
                    <i class="bi bi-shop"></i> Inventory
                </h2>
            </a>
            <p>
                Optimizamos el proceso de inventario de los establecimientos farmacéuticos, 
                mejorando el proceso habitual con la ayuda de la tecnología que brinda la 
                facilidad de procesar y almacenar enormes cantidades de datos, tener información 
                al instante detallada y clara, tomar decisiones agiles para solucionar problemas 
                o decisiones relacionada al crecimiento económico del establecimiento comercial.
            </p>
    
            <section class="mb-4">
    
                <!-- Facebook -->
                <a
                class="btn text-white btn-floating m-1"
                style="background-color: #3b5998;"
                href="#!"
                target="_black"
                role="button"
                ><i class="bi bi-facebook"></i></a>
    
                <!-- whatApp -->
                <a
                class="btn text-white btn-floating m-1"
                style="background-color: #25D366;"
                href="#!"
                target="_black"
                role="button"
                ><i class="bi bi-whatsapp"></i></a>
    
                <!-- Twitter -->
                <a
                class="btn text-white btn-floating m-1"
                style="background-color: #55acee;"
                href="#!"
                target="_black"
                role="button"
                ><i class="bi bi-twitter"></i></a>
    
                <!-- Instagram -->
                <a
                class="btn text-white btn-floating m-1"
                style="background-color: #ac2bac;"
                href="#!"
                role="button"
                ><i class="bi bi-instagram"></i></a>
    
               
            </section>
        </div>
    <!-- Grid column -->
    
    <hr class="clearfix w-100 d-md-none">
    
    <!-- Grid column -->
    <div class="col-md-2 mx-auto">
    
      <!-- Links -->
      <h4 class="text-uppercase mt-3 mb-4">Mapa de Sitio</h4>
    
      <ul class="list-unstyled">
        <li>
          <a href="/" class="btn btn-outline-warning border-0 text-white">Inicio</a>
        </li>
        <li>
          <a href="#!" class="btn btn-outline-warning border-0 text-white">Acerca de</a>
        </li>
        <li>
          <a href="#!" class="btn btn-outline-warning border-0 text-white">Servicios</a>
        </li>
      </ul>
    
    </div>
    <!-- Grid column -->
    
    <hr class="clearfix w-100 d-md-none">
    
    <!-- Grid column -->
    <div class="col-md-2 mx-auto">
    
      <!-- Links -->
      <h4 class="text-uppercase mt-3 mb-4">Saber más</h4>
    
      <ul class="list-unstyled">
        <li>
          <a href="#!" class="btn btn-outline-warning border-0 text-white">Politicas</a>
        </li>
        <li>
          <a href="#!" class="btn btn-outline-warning border-0 text-white">Privacidad</a>
        </li>
        <li>
          <a href="#!" class="btn btn-outline-warning border-0 text-white">Stock 2021</a>
        </li>
        <li>
          <a href="#!" class="btn btn-outline-warning border-0 text-white">Convenios </a>
        </li>
      </ul>
    
    </div>
    <!-- Grid column -->
    
    <hr class="clearfix w-100 d-md-none">
    
    <!-- Grid column -->
    <div class="col-md-2 mx-auto">
    
      <!-- Links -->
      <h4 class="text-uppercase mt-3 mb-4">Contacto</h4>
    
      <ul class="list-unstyled"style="font-size: small">
        <li class="mb-3">
            <i class="bi bi-geo-alt-fill"></i><br>
            dirección: Cra. 49C No.
            80 - 125, Continental Center Piso 1 Local 108
            Barranquilla - Atlantico
        </li>
        <li class="mb-3">
            <i class="bi bi-telephone-fill"></i><br>
            3856013 - 3869730 - 3737353
        </li>
        <li class="mb-3">
            <i class="bi bi-envelope-fill"></i><br>
            atcliente@inventory.com
        </li>
      </ul>
    
    </div>
    <!-- Grid column -->
    
    </div>
    <!-- Grid row -->
    
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center py-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright: Inventory
      </div>
      <!-- Copyright -->
    </footer>
    